{minimum_otp_vsn, "27"}.

{deps, [
    {cowboy, "2.12.0"},
    {ranch, "2.1.0"},
    {jesse, "1.8.1"}
]}.

%% == Erlang code formatter ==
{project_plugins, [erlfmt]}.
{erlfmt, [write]}.

{dialyzer, [
    {plt_extra_apps, [cowboy, cowlib, ranch, jesse]},
    {warnings, [no_match, no_unused, missing_return, unknown]}
]}.

{deps, [
  {eqwalizer_support,
    {git_subdir,
        "https://github.com/whatsapp/eqwalizer.git",
        {branch, "main"},
        "eqwalizer_support"}}
]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls, deprecated_functions]}.
